<h2>My Heroes</h2>
<ul class="heroes">
  <!-- ngFor mostra tutti gli elementi di una lista (lista heroes)-->
  <!-- (click) permette di gestire l'evento click sull'elemento li-->
  <!-- [class.selected] permette di caricare la classe css "selected" quando la condizione seguente è soddisfatta-->
  <!--
  <li *ngFor="let hero of heroes"
      (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">

    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>-->

  <!-- precedente versione sostituita con la seguente che usa il routing-->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>
